@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #072e27; /* Emerald color */
}
